@page
@model MyApp.Namespace.ContactModel
@{
}

<div class="container">
    <h4>Type of Forms</h4>

    <p>Some types of form in the future use</p>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p style="color:red; font-weight: bold;"> @Model.ErrorMessage</p>
    }

    @if (!string.IsNullOrEmpty(Model.SucessMessage))
    {
        <p style="color:green; font-weight: bold;"> @Model.SucessMessage</p>
    }

    <form method="POST">
        <div class="row g-3 mb-3">
            <div class="col-4">
                <input type="text" class="form-control" placeholder="enter text 1 here" name="text1"
                    value="@Model.Text1" />
            </div>
            <div class="col-4">
                <input type="text" class="form-control" placeholder="enter text 2 here" name="text2"
                    value="@Model.Text2" />
            </div>
            <div class="col-4">
                <input type="text" class="form-control" placeholder="enter text 3 here" asp-for="Text3" />
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="row g-3 mb-3">
                <div class="col-4">
                    <input type="number" class="form-control" placeholder="enter number 1 here" name="number1" value="@Model.Number1"/>
                </div>
                <div class="col-4">
                    <input type="number" class="form-control" placeholder="enter number 2 here" name="number2" value="@Model.Number2"/>
                </div>
                <div class="col-4">
                    <input type="number" class="form-control" placeholder="enter number 3 here" asp-for="Number3"/>
                </div>
            </div>

        </div>




    </form>












</div>