@page
@model MyApp.Namespace.ContactModel
@{
}

<div class="container">
    <h4>Type of Forms</h4>

    <p>Some types of form in the future use</p>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p style="color:red; font-weight: bold;"> @Model.ErrorMessage</p>
    }

    @if (!string.IsNullOrEmpty(Model.SucessMessage))
    {
        <p style="color:green; font-weight: bold;"> @Model.SucessMessage</p>
    }

    <form method="POST">
        <div class="row g-3 mb-3">
            <div class="col-4">
                <input type="text" class="form-control" placeholder="enter text 1 here" name="text1"
                    value="@Model.Text1" />
            </div>
            <div class="col-4">
                <input type="text" class="form-control" placeholder="enter text 2 here" name="text2"
                    value="@Model.Text2" />
            </div>
            <div class="col-4">
                <input type="text" class="form-control" placeholder="enter text 3 here" asp-for="Text3" />
            </div>
        </div>

        <div class="row g-3 mb-3">
            <div class="col-4">
                <input type="number" class="form-control" placeholder="enter number 1 here" name="number1"
                    value="@Model.Number1" />
            </div>
            <div class="col-4">
                <input type="number" class="form-control" placeholder="enter number 2 here" name="number2"
                    value="@Model.Number2" />
            </div>
            <div class="col-4">
                <input type="number" class="form-control" placeholder="enter number 3 here" asp-for="Number3" />
            </div>
        </div>

        <div class="row g-3 mb-3">
            <div class="col-4">
                <input type="email" class="form-control" placeholder="enter your email here" name="Email"
                    value="@Model.Email" />
            </div>
            <div class="col-4">
                @if (Model.MyDate == DateTime.MinValue)
                {
                    <input type="date" class="form-control" id="date" name="MyDate" value="" />
                }
                else
                {
                    <input type="date" class="form-control" id="date" name="MyDate"
                    value='@Model.MyDate.ToString("yyyy-MM-dd")' />
                }
            </div>
            <div class="col-4">
                <select class="form-select" name="SelectedSubjectId">
                    @for (var index = 0; index < Model.SelectListOfSubjects.Count; index++)
                    {
                        if (Model.SelectedSubjectId == index)
                        {
                            <option value="@index" selected>@Model.SelectListOfSubjects[index]</option>
                        }
                        else
                        {
                            <option value="@index">@Model.SelectListOfSubjects[index]</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li> <a class="dropdown-item" href="#">Action</a></li>
                <li> <a class="dropdown-item" href="#">Another action</a></li>
                <li> <a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-4">
                <textarea rows="4" cols="50" placeholder="enter your message"
                    name="MessageBody">@Model.MessageBody</textarea>
            </div>
		</div>

        <div class="row g-3 mb-3">
			<div class="col-4">
				<div class="form-check">
					<label class="form-check-label" for="CheckBox">CheckBox:</label>
					<input type="checkbox" class="form-check-input" id="CheckBox" name="CheckBox"
						checked="@Model.CheckBox" />
				</div>
			</div>
			<div class="col-4">
				<span>Radio Button Group:</span>
				<div class="form-check">
					@if (Model.Radio == "email")
					{
						<input type="radio" class="form-check-input" id="radio1" name="Radio" value="email" checked>
					}
					else
					{
						<input type="radio" class="form-check-input" id="radio1" name="Radio" value="email">
					}
					<label for="radio1" class="form-check-label">Email</label>
				</div>
				<div class="form-check">
					@if (Model.Radio == "phone")
					{
						<input type="radio" class="form-check-input" id="radio2" name="Radio" value="phone" checked>
					}
					else
					{
						<input type="radio" class="form-check-input" id="radio2" name="Radio" value="phone">
					}
					<label for="radio2" class="form-check-label">Phone</label>
				</div>
				<div class="form-check">
					@if (Model.Radio == "mail")
					{
						<input type="radio" class="form-check-input" id="radio3" name="Radio" value="mail" checked>
					}
					else
					{
						<input type="radio" class="form-check-input" id="radio3" name="Radio" value="mail">
					}
					<label for="radio3" class="form-check-label">Mail</label>
				</div>
			</div>
			<div class="col-4">
				<label>Range:</label>
				<input type="range" class="form-range" name="Range" checked="@Model.Range" />
			</div>
		</div>
		<div class="row g-3 mb-3">
			<div class="col-4">
				<button type="submit" class="btn btn-dark" name="ButtonPressed" value="Submit">Submit</button>
				<button type="submit" class="btn btn-dark" name="ButtonPressed" value="Clear">Clear</button>
			</div>
		</div>
    </form>
</div>